
<div class='container'>
	      	<h1>Hello Traveler!</h1>
		<p>This is a demo of the framework </p>
		<p>Taking all the greatness from the web, MVPjs is born! MVPjs is a frontend framework and a starter kit that uses the model view presenter design pattern.  To achive it, it combines all the awesome libraries from the web.<br>
Under the unmbrella it contains 

<a href='http://twitter.github.com/bootstrap/'>BootStrap</a><br>
<a href='http://requirejs.org/'>Requirejs</a><br>
<a href='https://github.com/requirejs/text'>Requirejs text ext</a><br>
<a href='http://jquery.com'>jQuery</a><br>
<a href='http://jqueryui.com'>jQueryUI</a><br>
<a href='http://backbonejs.org/'>BackBonejs</a><br>
<a href='underscorejs.org'>UnderScorejs</a><br>
<a href='http://mustache.github.com'>Mustache</a><br>
<a href='http://yepnopejs.com'>yepnope</a><br>
<a href='fontello.com'>fontello</a><br>
<a href='http://bootboxjs.com/'>Bootboxjs</a><br>
<a href='https://github.com/ehynds/jquery-notify'>jQuery Notify</a><br></p>
<p>
	All codes under MIT license
</p>

</div>
